<h1>Friends Input goes here</h1>

<%friends.forEach(friend=>{%>
    <li><%=friend%></li>
<%})%>

<form action="/addfriends"  method= "POST">
    <input type="text" placeholder="name" name="newfriend">
    <button>enter your name</button>
</form>