<%- include("partials/header") %>

<h1>Welcome to the posts</h1>

<%posts.forEach((post)=>{%>
    <li><%=post.title%> - <strong><%=post.author%></strong></li>
<%});%>

<%- include("partials/footer") %>